In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("house_data.csv")

In [3]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [ ]:
data.tail()

In [ ]:
data.isnull().sum()

In [ ]:
data.info()

In [ ]:
data.describe()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
cor_data = data.drop(columns=['date'])

In [ ]:
cor_data.columns

In [ ]:
data.columns

In [ ]:
plt.figure(figsize=(15, 15))
sns.heatmap(cor_data.corr(), cmap="GnBu", linecolor='white', linewidths=0.5, annot=True)

In [ ]:
data = data.drop(columns=['id', 'zipcode'])

In [ ]:
data.columns

In [ ]:
data['date'] = pd.to_datetime(data['date'])

data['month'] = data['date'].apply(lambda date:date.month)
data['year'] = data['date'].apply(lambda date:date.year)

data = data.drop('date',axis=1)

In [ ]:
plt.figure(figsize=(16, 16))
sns.heatmap(data.corr(), cmap="GnBu", linecolor='white', linewidths=0.5, annot=True)

In [ ]:
data = data.drop(columns='month')

In [ ]:
data.head()

In [ ]:
import numpy as np

In [ ]:
x = np.array(data.drop(columns='price'))
y = np.array(data['price'])

In [ ]:
print(f"x : {x.shape} \ny : {y.shape}")

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=2)

In [ ]:
print(f"x_train : {x_train.shape} \ny_train : {y_train.shape} \nx_test : {x_test.shape} \ny_test : {y_test.shape}")

In [5]:
from sklearn.preprocessing import MinMaxScaler

In [7]:
scaler = MinMaxScaler()

x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

NameError: name 'x_train' is not defined

In [ ]:
print(f"x_train max : {x_train.max()}")
print(f"x_train min : {x_train.min()}")

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout

In [ ]:
model = Sequential()

model.add(Dense(18, activation='relu'))
model.add(Dense(18, activation='relu'))
model.add(Dense(18, activation='relu'))

model.add(Dense(1))

In [ ]:
model.summary()

In [ ]:
model.compile(optimizer='adam', loss="mse")

In [ ]:
history = model.fit(x_train, y_train,validation_split=0.2, batch_size=32, epochs=50)

In [ ]:
plt.plot(history.history["loss"], label="Training_Loss")
plt.plot(history.history["val_loss"], label="Validation_Loss", color="red")
plt.title("Epochs Vs Losses")
plt.xlabel("Epochs")
plt.ylabel("Loss")

In [ ]:
model_pred = model.predict(x_test)

In [ ]:
from sklearn.metrics import r2_score

In [ ]:
model_score = r2_score(y_test, model_pred)
print(f"model r2_score : {model_score}")

model_2

In [ ]:
model_2 = Sequential()

model_2.add(Dense(32, activation='relu', input_dim=18))
model_2.add(Dense(64, activation='relu'))
model_2.add(Dense(32, activation='relu'))
model_2.add(Dense(1))

In [ ]:

model_2.summary()

In [ ]:
model_2.compile(optimizer='adam', loss='mse')

In [ ]:
history_2 = model_2.fit(x_train, y_train, validation_split=0.2, batch_size=32, epochs=100)

In [ ]:
plt.plot(history.history["loss"], label='Training)_Loss')
plt.plot(history.history["val_loss"], label="Validation_Loss", color="red")
plt.title("Epochs Vs Losses")
plt.xlabel("Epochs")
plt.ylabel("Loss")

In [ ]:
model_2_pred = model_2.predict(x_test)

In [ ]:
score = r2_score(y_test, model_2_pred)
print(f"Model 2 R2 score: {score}")